* { /*browser size adjusting*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(91.9deg, rgb(94, 232, 225) 27.8%, rgb(170, 240, 239) 67%);}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}

th, td {
    border: 1px solid   #235a5a;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #1b7070;
    color: #f5e0b6;
}

tr:nth-child(odd) {
    background-color: #6ecdcb82;
}

h1 {
    text-align: center;
    color: #235a5a;
    text-shadow: 2pxd 12px #235a5a ;
}