.navbar{
    width:100%;
    background-color: #177e89 ;
    overflow:auto;
   display: flex;
}
.navbar a {
    align-self: flex-end;
    padding: 12px ;
    color: hsl(40, 100%, 67%) ;
    text-decoration: none;
    font-size: 20px;
  }
@media screen and (max-width: 500px) 
{
    .navbar a {
      float: none;
      display: block;
}
}
.active {
    color: #ffc757;
    font:  bold 25px Georgia, serif;
}
.nav-logo{
   float:left;
   align-self: flex-start;
}
.nav-logo img{
   padding:8px;
 }
 
footer {
  color:rgb(255, 228, 196);
  text-align: center;
  width: 100%;
  position: absolute;
  bottom:0px;
  background-color:#177e8900;
  margin-top: 2rem;
}