body{
    background-color: #d09292;
    background: url(images/bghome.jpg) no-repeat  fixed center;
    backdrop-filter: blur(8px);
    background-size: cover;
    min-width:629px;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #323031;
    border-radius: 20px;
    height: 21rem;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color:#5fcad6  ;
  }
 
  
  input[type="text"],
  input[type="password"]
  {
    width: 100%;
    padding: 8px;
    margin-top:1rem;
    margin-bottom: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color:grey;
  }
  
  input[type="submit"] {
    margin-top:2rem;
    background-color: #177e89;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover 
  {
    margin-top:2rem;
    background-color: #ffc757;
  }
  
  input:invalid {
    border-color: red;
  }
  