* { /*browser size adjusting*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: #d09292;
    background: url(images/bghome.jpg) no-repeat  fixed center;
    backdrop-filter: blur(8px);
    background-size:cover; 
    min-width:629px;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #323031;
    border-radius: 20px;
    height: 24rem;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color:#5fcad6  ;
  }
 
  
  input[type="text"],
  input[type="password"]
  {
    width: 100%;
    padding: 8px;
    margin-top:0.7rem;
    margin-bottom: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color:rgb(10, 10, 10);
  }
  
  input[type="submit"] {
    margin-top:0.7rem;
    background-color: #177e89;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover 
  {
    margin-top:0.3rem;
    background-color: #ffc757;
  }
  
  input:invalid {
    border-color: red;
  }
  